<div class="container">
  

 <p>Choose a deck to play, <%=session[:user_id] %> </p>

    <form action="/deck/awesome" method="post">
    <input type = "Submit" value = "  Awesome  ">
    
    <form action="/deck/awesome" method="post">
    <input type = "Submit" value = "  Superawesome  ">

</form>

<br>
<br>
<br>
