<div class="container">
  <p><%=session[:user_id] %></p>

 <p>Log in  </p>
 <form action="/login" method="post">
 <input type="text" name="username" placeholder="Username">
 <br> <br>
 <input type="password" name="password" placeholder="password">
 <br> <br>
 <input type="submit" value="  Login  ">
 </form>
<br>
<br>
<br>
 <p> Sign up  </p>
  <form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
 <br> <br>
 <input type="password" name="password" placeholder="password">
 <br> <br>
  <input type="submit" value="  Submit  ">
</div>